<h1>Pages#about</h1>
<p>Find me in app/views/pages/about.html.erb</p>
<div class="row">
  <div class="col-md-5" style="background-color: blue">
    <h2>About Blue</h2>
  </div>
  <div class="col-md-5" style="background-color: yellow">
    <h2>About Yellow</h2>
  </div>
</div>
